.app-container-full {
  padding: 2rem;
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
}

.x-monospace {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
}

.x-overflow-any {
  overflow-wrap: anywhere;
}

.fill-parent {
  min-height: inherit;
}