# Base URL of environment
# for local compose setup: http://localhost:7105
# for local kind setup: http://localhost:7005
# for externally deployed Racetrack: https://racetrack.cluster-dev-c2.dk
base_url=https://racetrack.cluster-dev-c2.dk
job_name=adder
job_version=0.0.1
payload="{\"numbers\": [40, 2]}"
auth_token=

# Name of ESC to create. If empty, skip creating ESC.
create_esc=
admin_auth_token=
