# This is a template file.
# Copy it: `cp build.env.template build.env`
# and fill it out with all your secrets

# Git username or email
GIT_USERNAME="nobody"

# Use read_repo access token instead of your password
GIT_TOKEN="PUT YOUR TOKEN HERE"
