# Python residues
**/venv
**/.pytest_cache
**/*.coverage
**/__pycache__
**/*.pyc
**/*.egg-info

# Dev residues
**/*.iml
**/.idea
**/.vscode

# Go leftovers
**/go.sum

.git
**/.job.Dockerfile
**/log.out
