version: '3.7'
services:

  lifecycle:
    container_name: lifecycle
    build:
      context: .
      dockerfile: lifecycle/Dockerfile
    image: ghcr.io/theracetrack/racetrack/lifecycle:latest
    ports:
      - "7102:7102"
    networks:
      - racetrack_default
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    user: '100000:${DOCKER_GID}'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - ./lifecycle/tests/sample/compose.yaml:/etc/racetrack/lifecycle/config.yaml
      - ./.plugins:/mnt/plugins
    env_file:
      - ./.env
    environment:
      DJANGO_DEBUG: 'True'
      CONFIG_FILE: /etc/racetrack/lifecycle/config.yaml
    command: >
      bash -c "
      /src/lifecycle/wait-for-postgres.sh && 
      /src/lifecycle/wait-for-migration.sh && 
      python -u -m lifecycle serve"
    stdin_open: true
    tty: true

  lifecycle-supervisor:
    container_name: lifecycle-supervisor
    build:
      context: .
      dockerfile: lifecycle/Dockerfile
    image: ghcr.io/theracetrack/racetrack/lifecycle:latest
    ports:
      - "7106:7102"
    networks:
      - racetrack_default
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    user: '100000:${DOCKER_GID}'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - ./lifecycle/tests/sample/compose.yaml:/etc/racetrack/lifecycle/config.yaml
      - ./.plugins:/mnt/plugins
    env_file:
      - ./.env
    environment:
      DJANGO_DEBUG: 'True'
      CONFIG_FILE: /etc/racetrack/lifecycle/config.yaml
    command: >
      bash -c "
      /src/lifecycle/wait-for-postgres.sh && 
      /src/lifecycle/lifecycle/django/migrate.sh && 
      python -u -m lifecycle supervisor"
    stdin_open: true
    tty: true

  image-builder:
    container_name: image-builder
    build:
      context: .
      dockerfile: image_builder/Dockerfile
    image: ghcr.io/theracetrack/racetrack/image-builder:latest
    ports:
      - "7101:7101"
    networks:
      - racetrack_default
      - registry
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    user: '100000:100000'
    volumes:
      - ./image_builder/tests/sample/compose.yaml:/etc/racetrack/image-builder/config.yaml
      - ./.plugins:/mnt/plugins
    environment:
      DOCKER_TLS_CERTDIR: ''
      DOCKER_HOST: tcp://docker-engine:2375
      CONFIG_FILE: /etc/racetrack/image-builder/config.yaml
      LIFECYCLE_AUTH_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZWVkIjoiZGVhNzYzMDAtN2JhYy00ODRjLTkyOTYtNWQxMGNkOTM3YTU4Iiwic3ViamVjdCI6ImltYWdlLWJ1aWxkZXIiLCJzdWJqZWN0X3R5cGUiOiJpbnRlcm5hbCIsInNjb3BlcyI6WyJmdWxsX2FjY2VzcyJdfQ.ND3wDeK58L5T1jIYcuArQ5O3M0Ez3_pCAEi5NXD_hLY

  dashboard:
    container_name: dashboard
    build:
      context: .
      dockerfile: dashboard/Dockerfile
    image: ghcr.io/theracetrack/racetrack/dashboard:latest
    ports:
      - "7103:7103"
    networks:
      - racetrack_default
    restart: unless-stopped
    user: '100000:100000'
    env_file:
      - ./.env
    environment:
      DJANGO_DEBUG: 'True'
      DASHBOARD_PORT: '7103'
      LIFECYCLE_URL: 'http://lifecycle:7102/lifecycle'
      EXTERNAL_LIFECYCLE_URL: 'http://localhost:7102/lifecycle'
      EXTERNAL_PUB_URL: 'http://localhost:7105/pub'
      EXTERNAL_GRAFANA_URL: 'http://localhost:3100'
      AUTH_REQUIRED: 'true'
      SITE_NAME: ''

  pub:
    container_name: pub
    build:
      context: pub/
      dockerfile: Dockerfile
    image: ghcr.io/theracetrack/racetrack/pub:latest
    ports:
      - "7105:7105"
    networks:
      - racetrack_default
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    user: '100000:100000'
    environment:
      PUB_PORT: '7105'
      LIFECYCLE_URL: 'http://lifecycle:7102/lifecycle'
      AUTH_REQUIRED: 'true'
      AUTH_DEBUG: 'true'
      LIFECYCLE_AUTH_TOKEN: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzZWVkIjoiY2E3ZWNmODAtZDAxZS00ZjA5LWI4ZjQtMTZiNTMxYjhhOTNhIiwic3ViamVjdCI6InB1YiIsInN1YmplY3RfdHlwZSI6ImludGVybmFsIiwic2NvcGVzIjpbImZ1bGxfYWNjZXNzIl19.Xyg1lwQG4oiA65y-KAkdmCFjnT7BZkfmm66DDGOVZu4'

  postgres:
    image: postgres:16.0
    container_name: postgres
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - ./.env
    command: -p 5532
    restart: always
    ports:
      - "5532:5532"
    networks:
      - racetrack_default

  pgbouncer:
    image: ghcr.io/theracetrack/racetrack/pgbouncer:latest
    build:
      context: postgres/pgbouncer
      dockerfile: Dockerfile
    container_name: pgbouncer
    ports:
      - "5533:5533"
    restart: always
    user: '100000:100000'
    networks:
      - racetrack_default
    environment:
      LISTEN_PORT: '5533'
      DB_USER: 'racetrack'
      DB_PASSWORD: 'dev-25ZjbUDJH6MzmUR'
      DB_HOST: 'postgres'
      DB_NAME: 'racetrack'
      DB_PORT: '5532'
      POOL_MODE: session
      MAX_CLIENT_CONN: 30000
      CLIENT_IDLE_TIMEOUT: 90
      SERVER_CONNECT_TIMEOUT: 10
      CLIENT_LOGIN_TIMEOUT: 10
      QUERY_WAIT_TIMEOUT: 10
      ADMIN_USERS: postgres,admin,racetrack
      AUTH_TYPE: scram-sha-256

  docker-engine:
    container_name: docker-engine
    image: docker:dind
    ports:
      - "2375:2375"
    networks:
      - racetrack_default
      - registry
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    privileged: true
    command: ['--insecure-registry=racetrack-registry:5000', '--insecure-registry=http://racetrack-registry:5000']
    environment:
      DOCKER_TLS_CERTDIR: ''
    logging:
      driver: none
  
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.14.0
    container_name: postgres-exporter
    env_file:
      - ./.env
    ports:
      - "9187:9187"
    networks:
      - racetrack_default
    restart: unless-stopped
    logging:
      driver: none

  prometheus:
    image: prom/prometheus:v2.47.1
    container_name: prometheus
    ports:
      - "9192:9090"
    networks:
      - racetrack_default
    restart: unless-stopped
    user: '65534:65534'
    command: 
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.retention.time=60d'
    volumes:
      - ./utils/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - ./.plugins/metrics:/mnt/plugins/metrics
    logging:
      driver: none

  grafana:
    image: grafana/grafana:10.1.4
    container_name: grafana
    ports:
      - "3100:3000"
    networks:
      - racetrack_default
    restart: unless-stopped
    user: '100000:100000'
    volumes:
      - ./utils/grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yml
      - ./utils/grafana/dashboards-all.yaml:/etc/grafana/provisioning/dashboards/all.yml
      - ./utils/grafana/dashboards/:/var/lib/grafana/dashboards
    environment:
      - GF_AUTH_BASIC_ENABLED=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    logging:
      driver: none

  jaeger:
    image: jaegertracing/all-in-one:1.37
    container_name: jaeger
    ports:
      - "16686:16686" # UI
      - "4318:4318" # OpenTelemetry Protocol collector over HTTP
    networks:
      - racetrack_default
    restart: unless-stopped
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    profiles: ["dev"]
    logging:
      driver: none


networks:
  racetrack_default:
    driver: bridge
    name: racetrack_default
  registry:
    external: true
    name: kind
