{% extends "racetrack/base.html" %}

{% block content %}

<div class="container">
<div class="card">
<div class="card-body">

    <h5 class="card-title">Change Password</h5>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label_tag }}</label>
                {{ field }}
                {% if field.help_text %}
                <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}

                {% for error in field.errors %}
                    <div class="invalid-feedback d-block">
                    {{ error|escape }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

</div>
</div>
</div>

{% endblock %}
