{% extends "racetrack/base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">
<div class="card">
<div class="card-body">

    <h5 class="card-title">Change Password</h5>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label"><label for="id_old_password">Old password:</label></label>
            <input type="password" name="old_password" autocomplete="current-password" autofocus class="form-control" required id="id_old_password">
        </div>

        <div class="mb-3">
            <label class="form-label"><label for="id_new_password1">New password:</label></label>
            <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1">

            <div class="form-text">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label"><label for="id_new_password2">New password confirmation:</label></label>
            <input type="password" name="new_password2" autocomplete="new-password" class="form-control" required id="id_new_password2">
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

</div>
</div>
</div>

{% endblock %}
