{% extends "racetrack/base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">
<div class="card">
<div class="card-body">

    <h5 class="card-title">Register</h5>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label"><label for="id_username">Username:</label></label>
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus class="form-control" required id="id_username" value="{{ register_username }}">
            <div class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only. Use your email as username.</div>
        </div>

        <div class="mb-3">
            <label class="form-label"><label for="id_password1">Password:</label></label>
            <input type="password" name="password1" autocomplete="new-password" class="form-control" required id="id_password1">
            <div class="form-text"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></div>
        </div>

        <div class="mb-3">
            <label class="form-label"><label for="id_password2">Password confirmation:</label></label>
            <input type="password" name="password2" autocomplete="new-password" class="form-control" required id="id_password2">
            <div class="form-text">Enter the same password as before, for verification.</div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>
</div>
</div>

{% endblock %}
