prometheus-client==0.17.1
pydantic==1.10.5
pyjwt[crypto]==2.6.0
fastapi==0.109.2
uvicorn[standard]==0.24.0
opentelemetry-exporter-otlp-proto-http==1.16.0
protobuf==4.22.0  # needed by opentelemetry exporter
python-multipart==0.0.7  # uploading files
watchdog==2.3.1
a2wsgi==1.7.0
