prometheus-client==0.10.1
werkzeug==2.0.2
pydantic==1.9.1
pyjwt[crypto]==2.3.0
fastapi==0.78.0
uvicorn[standard]==0.17.6
opentelemetry-exporter-otlp-proto-http==1.11.1
protobuf==3.20.1 # v3 needed by opentelemetry exporter
python-multipart==0.0.5  # uploading files
watchdog==2.1.9
