{% extends "racetrack/base.html" %}

{% load templatetags %}

{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">

    <div class="card">
        <div class="card-header">
            Audit Log
        </div>
        <div class="card-body">

            <div class="input-group mb-3">
                <span class="input-group-text">Job name:</span>
                <input type="text" class="form-control" placeholder="Job name to filter by family" aria-label="Job name to filter by family" id="activity-job-name" value="{{filter_job_name}}">
                <span class="input-group-text">Job version:</span>
                <input type="text" class="form-control" placeholder="Job version to filter by" aria-label="Job version to filter by" id="activity-job-version" value="{{filter_job_version}}">

                <div class="input-group-text">
                    <label>
                        <input class="form-check-input mt-0" type="checkbox" id="activity-related-to-me" {% if filter_related_to_me %}checked{% endif %}>
                        Related to me
                    </label>
                </div>

                <button class="btn btn-outline-secondary" type="button" id="button-filter-activity">Filter</button>
            </div>

            <div class="mt-3"></div>

            <div class="list-group">
                {% for event in events %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ event.event_type | title }}</h5>
                        <small class="localize-datetime-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ event.timestamp | timestamp_to_iso8601 }}">
                            {{ event.timestamp | timestamp_to_ago_str }}
                        </small>
                    </div>
                    <p class="mb-1">
                        {{ event.explanation }}
                    </p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
$(".localize-datetime-tooltip").attr("title", function(i, val) {
    return new Date(val).toString();
});

var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

$('#activity-job-name').keypress(function (e) {
    if (e.which == 13) {
        filterActivity();
        return false;
    }
});
$('#activity-job-version').keypress(function (e) {
    if (e.which == 13) {
        filterActivity();
        return false;
    }
});
$("#button-filter-activity").click(function () {
    filterActivity();
});

function filterActivity() {
    var job_name = $('#activity-job-name').val();
    var job_version = $('#activity-job-version').val();
    var related_to_me = document.getElementById('activity-related-to-me').checked;
    var url = window.location.href.split("?")[0] + "?q=1";
    if (job_name != "" && job_version != "") {
        url = url + "&job_name=" + job_name + "&job_version=" + job_version;
    } else if (job_name != "") {
        url = url + "&job_name=" + job_name;
    }
    if (related_to_me) {
        url = url + "&related_to_me=1";
    }
    window.location.href = url;
}
</script>
{% endblock javascript %}
