{% extends "racetrack/base.html" %}
{% load static %}

{% load templatetags %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Dependencies Graph
        </div>
        <div class="card-body">
            <label><input type="checkbox" id="enablePhysicsCheckbox" value="true" checked />Enable physics</label>
            <div id="graph-area" style="box-sizing: border-box; height: 640px; border: 1px solid lightgray;"></div>
            <div id="graph-area-legend"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script src="{% static 'racetrack/vis-network.min.js' %}"></script>

<script type="text/javascript">
function shapeOfNodeByType(nodeType) {
    if (nodeType == 'esc')
        return 'box';
    return 'ellipse';
}

function colorOfNodeByType(nodeType) {
    if (nodeType == 'esc')
        return '#97C2FC';
    return '#7BE141';
}

var nodeStructs = [
{% for node in job_graph.nodes %}
    {
        id: "{{ node.id }}",
        label: "{{ node.title | escapejs }}", 
        title: "{{ node.subtitle | escapejs }}", 
        shape: shapeOfNodeByType("{{ node.type }}"),
        color: colorOfNodeByType("{{ node.type }}"),
    },
{% endfor %}
];
var nodes = new vis.DataSet(nodeStructs);


var edgeStructs = [
{% for edge in job_graph.edges %}
    {
        from: "{{ edge.from_id }}",
        to: "{{ edge.to_id }}",
        color: { inherit: "both" },
        arrows: "to",
        title: "has access to",
    },
{% endfor %}
];
var edges = new vis.DataSet(edgeStructs);

focusedNodes = [];

const nodesFilter = (node) => {
    if (focusedNodes.length === 0) {
        return true;
    }
    return focusedNodes.includes(node.id);
};

const edgesFilter = (edge) => {
    return true;
};

const nodesView = new vis.DataView(nodes, { filter: nodesFilter });
const edgesView = new vis.DataView(edges, { filter: edgesFilter });
var data = {
    nodes: nodesView,
    edges: edgesView,
};
var options = {
    nodes: {
        borderWidth: 2,
        shadow: true,
    },
    edges: {
        shadow: true,
        smooth: {
            type: "cubicBezier",
            forceDirection: "none"
        }
    },
    physics: {
        enabled: true,
    },
};
var container = document.getElementById("graph-area");
var network = new vis.Network(container, data, options);

network.on("click", function (params) {
    focusedNodes = params.nodes;
    if (focusedNodes.length == 1) {
        // include nodes connected to it
        var mainNodeId = focusedNodes[0];
        showSelectedNodeDetails(mainNodeId)
        for (var edge of edgeStructs) {
            if (edge.from == mainNodeId) {
                focusedNodes.push(edge.to);
            }
            if (edge.to == mainNodeId) {
                focusedNodes.push(edge.from);
            }
        }
    } else if (focusedNodes.length == 0) {
        showSelectedNodeDetails('')
    }
    nodesView.refresh();
});

function showSelectedNodeDetails(nodeId) {
    for (var node of nodeStructs) {
        if (node.id == nodeId) {
            subtitle = node.title;

            urlPattern = /(\b(https?):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
            subtitle = subtitle.replace(urlPattern, '<a href="$1" target="_blank">$1</a>');
            var nodeDetailsHtml = `
            <div class="card">
                <div class="card-body">
                    <h5>${node.label}</h5>
                    <p style="white-space: pre-line">${subtitle}</p>
                </div>
            </div>
            `;
            $('#graph-area-legend').html(nodeDetailsHtml);
            return;
        }
    }
    $('#graph-area-legend').html('');
}

document.getElementById("enablePhysicsCheckbox").addEventListener("change", (e) => {
    const { value, checked } = e.target;
    options.physics.enabled = checked;
    network.setOptions(options);
})
</script>
{% endblock javascript %}
