{% extends "racetrack/base.html" %}

{% load templatetags %}

{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
    {{ error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Jobs ({{ jobs|length }})</h5>
            <div class="accordion" id="accordionJobs">

            {% for job in jobs %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingJob-{{ job.id }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseJob-{{ job.id }}"
                          aria-expanded="false" aria-controls="collapseJob-{{ job.id }}">
                    Job: {{ job.name }} ({{ job.version }})

                    {% if job.status == "running" %}
                    <span class="badge bg-success ms-2">{{ job.status | upper }}</span>
                    {% elif job.status == "error" %}
                    <span class="badge bg-danger ms-2">{{ job.status | upper }}</span>
                    {% else %}
                    <span class="badge bg-warning text-dark ms-2">{{ job.status | upper }}</span>
                    {% endif %}

                    {% if job.infrastructure_target %}
                    <span class="badge rounded-pill bg-info text-dark ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Infrastructure Target">{{ job.infrastructure_target }}</span>
                    {% endif %}

                    {% job_labels job as labels %}
                    {% for label in labels %}
                    <span class="badge rounded-pill bg-info text-dark ms-2">{{ label.name }}: {{ label.value }}</span>
                    {% endfor %}
                  </button>
                </h2>
                <div id="collapseJob-{{ job.id }}" class="accordion-collapse collapse"
                     aria-labelledby="headingJob-{{ job.id }}" data-bs-parent="#accordionJobs">
                    <div class="accordion-body">
                        <p>
                            Last updated: <span class="localize-datetime">{{ job.update_time | timestamp_to_iso8601 }}</span> ({{ job.update_time | timestamp_to_ago_str }})
                            {% if job.deployed_by %}
                            by {{ job.deployed_by }}
                            {% endif %}
                        </p>
                        <p>
                            Created at: <span class="localize-datetime">{{ job.create_time | timestamp_to_iso8601 }}</span> ({{ job.create_time | timestamp_to_ago_str }})
                        </p>
                        <p>
                            Last called at: 
                            {% if job.last_call_time %}
                            <span class="localize-datetime">{{ job.last_call_time | timestamp_to_iso8601 }}</span> ({{ job.last_call_time | timestamp_to_ago_str }})
                            {% else %}
                            never
                            {% endif %}
                        </p>

                        <div class="card">
                            <div class="card-body">
                                <h5>Manifest</h5>
                                <pre>{{ job.manifest | datamodel_to_yaml }}</pre>
                            </div>
                        </div>

                        {% if job.error %}
                        <div class="card">
                            <div class="card-body">
                                <h5>Error</h5>
                                <pre>{{ job.error }}</pre>
                            </div>
                        </div>
                        {% endif %}

                        <div class="mt-2">
                            <div class="btn-group" role="group">
                                {% if job.status == "running" %}
                                <a href="{{ external_pub_url }}/job/{{ job.name }}/{{ job.version }}"
                                    class="btn btn-outline-primary align-middle"
                                    target="_blank" rel="noopener noreferrer">Open</a>
                                {% else %}
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Job isn't healthy">
                                <a href="{{ external_pub_url }}/job/{{ job.name }}/{{ job.version }}"
                                    class="btn btn-outline-primary align-middle disabled"
                                    target="_blank" rel="noopener noreferrer" aria-disabled="true">Open</a>
                                </span>
                                {% endif %}

                                <div class="btn-group" role="group">
                                    <button id="btnGroupLogs-{{ job.id }}" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Logs
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupLogs-{{ job.id }}">
                                        <li><a class="dropdown-item" href="{% url 'dashboard:job_build_logs' job.name job.version %}" target="_blank" rel="noopener noreferrer">Build logs</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dashboard:job_runtime_logs' job.name job.version %}" target="_blank" rel="noopener noreferrer">Runtime logs</a></li>
                                    </ul>
                                </div>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupRedeploy-{{ job.id }}" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                                        job-name="{{ job.name }}" job-version="{{ job.version }}">
                                        Redeploy
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupRedeploy-{{ job.id }}">
                                        <li>
                                            <button type="button" class="btn btn-primary dropdown-item button-redeploy-job" 
                                                job-name="{{ job.name }}" job-version="{{ job.version }}" job-id="{{ job.id }}">
                                                Rebuild and provision
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary dropdown-item button-reprovision-job" 
                                                job-name="{{ job.name }}" job-version="{{ job.version }}" job-id="{{ job.id }}">
                                                Reprovision
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <button type="button" class="btn btn-danger button-delete-job" job-name="{{ job.name }}" job-version="{{ job.version }}">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
$(".button-delete-job").click(function () {
    that = $(this)
    showModal("Delete Job", "Are you sure you want to delete this job?", function () {
        invokeJobAction('Deleting job', 'delete-job', that, '{{ csrf_token }}')
    });
});

$(".button-redeploy-job").click(function () {
    button = $(this)
    jobId = button.attr('job-id')
    parentButton = $(`#btnGroupRedeploy-${jobId}`)
    showModal("Redeploy Job", "Are you sure you want to redeploy (rebuild and reprovision) this job?", function () {
        invokeJobAction('Redeploying job', 'redeploy-job', parentButton, '{{ csrf_token }}')
    });
});

$(".button-reprovision-job").click(function () {
    button = $(this)
    jobId = button.attr('job-id')
    console.log('searching for', jobId)
    parentButton = $(`#btnGroupRedeploy-${jobId}`)
    console.log('job-name', parentButton.attr('job-name'))
    showModal("Reprovision Job", "Are you sure you want to reprovision this job?", function () {
        invokeJobAction('Reprovisioning job', 'reprovision-job', parentButton, '{{ csrf_token }}')
    });
});

$(".localize-datetime").text(function(index, text) {
    return new Date(text).toString();
});
</script>
{% endblock javascript %}
