{% extends "racetrack/base.html" %}

{% load templatetags %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Plugin Config</h5>
            <p>
                YAML configuration of plugin <b>{{ plugin_name }}</b> (version <b>{{ plugin_version }}</b>):
            </p>

            <div>
                <textarea id="plugin-config-editor" class="form-control plugin-config-editor" placeholder="YAML Configuration">{{ plugin_config }}</textarea>
            </div>
            <div class="mt-2">
                <button type="button" id="button-save-config" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
$("#button-save-config").click(function () {
    that = $(this)
    let config_data = $('#plugin-config-editor').val()
    let csrf_token = '{{ csrf_token }}'
    let pluginName = '{{ plugin_name }}';
    let pluginVersion = '{{ plugin_version }}';
    var actionPrefix = 'Saving plugin\'s config (' + pluginName + ' ' + pluginVersion + ')'
    console.log(actionPrefix + '...');
    var previousHtml = that.html();
    that.prop("disabled", true);
    that.html(
        `<div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>`
    );
    $.ajax({
        url: '/dashboard/api/plugin/write-config/' + pluginName + '/' + pluginVersion,
        type: 'put',
        data: config_data,
        headers: {"X-CSRFToken": csrf_token},
        cache: false,
        success: function(data) {
            that.prop("disabled", false);
            that.html(previousHtml);
            var message = 'Success: ' + actionPrefix;
            showAlert(message, 'success');
        },
        error: function (xhr, status, error) {
            if (xhr.hasOwnProperty('responseJSON') && xhr.responseJSON.hasOwnProperty('error')) { 
                message = xhr.responseJSON.error;
            } else {
                message = xhr.statusText;
            }
            that.prop("disabled", false);
            that.html(previousHtml);
            showAlert('Error: ' + actionPrefix + ': ' + message, 'danger');
        }
    });
});

let searchParams = new URLSearchParams(window.location.search);
if (searchParams.has('success')) {
    showAlert(searchParams.get('success'), 'success');
    window.history.replaceState(null, null, window.location.pathname);
}
if (searchParams.has('error')) {
    showAlert(searchParams.get('error'), 'danger');
    window.history.replaceState(null, null, window.location.pathname);
}
</script>
{% endblock javascript %}
