{% extends "racetrack/base.html" %}

{% load templatetags %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container">
    <div class="card">
        <div class="card-header">
            User profile
            {% if user.is_staff %}
                <span class="badge bg-success ms-2">admin</span>
            {% endif %}
        </div>
        <div class="card-body">

            <form>
                <fieldset>

                    <div class="mb-3 col-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" class="form-control" value="{{ user }}" readonly>
                    </div>

                    <div class="form-group row">
                        <label for="user-auth" class="form-label">Racetrack Auth Token (X-Racetrack-Auth) - keep it secret</label>
                        <div class="d-flex">
                            <input type="text" id="user-auth" class="form-control form-control-sm flex-fill" value="{{ user_auth }}" readonly>
                            <button type="button" class="btn btn-outline-primary" onclick="return copyToClipboard(event, this, 'user-auth')">Copy</button>
                        </div>
                    </div>

                    <br/>
                    <div class="form-group row">
                        <label for="racetrack-cli-login" class="form-label">Run this in CLI to deploy Fatmen to this Racetrack: </label>
                        <div class="d-flex">
                            <input type="text" class="form-control form-control-sm flex-fill" value="racetrack login {{ lifecycle_url }} {{ user_auth }}" id="racetrack-cli-login" readonly>
                            <button type="button" class="btn btn-outline-primary" onclick="return copyToClipboard(event, this, 'racetrack-cli-login')">Copy</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Info</h5>
            <p>
                Lifecycle server address: <a href="{{ lifecycle_url }}" target="_blank"> {{ lifecycle_url }}</a>
            </p>
            <p>
                To deploy here, run <span class="badge bg-info">racetrack deploy [manifest_path] {{ lifecycle_url }}</span>
            </p>
            <p>
                To add it as alias, run <span class="badge bg-info">racetrack config alias set [alias_name] {{ lifecycle_url }}</span>
            </p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Versions</h5>
            <p>
                Racetrack: {{ racetrack_version }}
            </p>

            <h5 class="card-title">Plugins</h5>
            {% if plugins|length > 0 %}
            Active plugins:
            <ul>
            {% for plugin in plugins %}
                <li>{{ plugin.name }} (version {{ plugin.version }})</li>
            {% endfor %}
            </ul>
            {% endif %}

            <form action="{% url "dashboard:upload-plugin" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="file" name="plugin-file" class="form-control">
                    <button type="submit" class="btn btn-outline-secondary">Upload plugin</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}

<script>
function copyToClipboard(e, btn, elementId) {
    e.preventDefault(); // prevent submit
    let str = document.getElementById(elementId);
    str.select();
    document.execCommand('copy');
    btn.innerHTML = "Copied!";
    return false; // prevent submit
}

let searchParams = new URLSearchParams(window.location.search);
if (searchParams.has('success')) {
    showAlert(searchParams.get('success'), 'success');
    window.history.replaceState(null, null, window.location.pathname);
}
if (searchParams.has('error')) {
    showAlert(searchParams.get('error'), 'danger');
    window.history.replaceState(null, null, window.location.pathname);
}
</script>

{% endblock javascript %}
