{% extends "racetrack/base.html" %}

{% load templatetags %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<div class="container">
    <div class="card">
        <div class="card-header">
            User profile
            {% if user.is_staff %}
                <span class="badge bg-success ms-2">admin</span>
            {% endif %}
        </div>
        <div class="card-body">

            <div class="mb-3 col-4">
                <label for="username" class="form-label">Username</label>
                <div class="d-flex flex-row">
                    <div class="align-self-start">
                        <input type="text" id="username" class="form-control" value="{{ user }}" readonly>
                    </div>
                    <a href="{% url 'dashboard:change_password' %}" class="btn btn-primary align-self-start">Change Password</a>
                </div>
            </div>

            <div class="form-group row">
                <label for="user-auth" class="form-label">Racetrack Auth Token (X-Racetrack-Auth) - keep it secret</label>
                <div class="d-flex">
                    <input type="text" id="user-auth" class="form-control form-control-sm flex-fill" value="{{ user_auth }}" readonly>
                    <button type="button" class="btn btn-outline-primary" onclick="return copyToClipboard(event, this, 'user-auth')">Copy</button>
                    <button type="button" class="btn btn-outline-primary button-regen-token">Regenerate</button>
                </div>
            </div>

            <br/>
            <div class="form-group row">
                <label for="racetrack-cli-login" class="form-label">Run this in CLI to deploy Jobs to this Racetrack: </label>
                <div class="d-flex">
                    <input type="text" class="form-control form-control-sm flex-fill" value="racetrack login --remote {{ lifecycle_url }} {{ user_auth }}" id="racetrack-cli-login" readonly>
                    <button type="button" class="btn btn-outline-primary" onclick="return copyToClipboard(event, this, 'racetrack-cli-login')">Copy</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Info</h5>
            <p>
                Racetrack's remote address: <a href="{{ lifecycle_url }}" target="_blank"> {{ lifecycle_url }}</a>
            </p>
            <p>
                To add it as alias, run <span class="badge bg-info">racetrack set alias ALIAS_NAME {{ lifecycle_url }}</span>
            </p>
            <p>
                To set the current remote, run: <span class="badge bg-info">racetrack set remote {{ lifecycle_url }}</span>
            </p>
            <p>
                To deploy here, run <span class="badge bg-info">racetrack deploy MANIFEST_PATH --remote {{ lifecycle_url }}</span>
            </p>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
$(".button-regen-token").click(function () {
    console.log('Regenerate user token...');
    $.ajax({
        url: '/dashboard/api/auth/token/user/regenerate',
        type: 'post',
        cache: false,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        headers: {
            'X-Racetrack-Auth': localStorage.getItem('auth_token') || '{{ user_auth }}'
        },
        success: function(data) {
            refreshTokenInHTML();
            showAlert('Success: Token regenerated', 'success');
                    },
        error: function(xhr, status, error) {
            if (xhr.hasOwnProperty('responseJSON') && xhr.responseJSON.hasOwnProperty('error')) {
                message = xhr.responseJSON.error;
            } else {
                message = xhr.statusText;
            }
            showAlert('Error: Regenerate Token' + ': ' + message, 'danger');
        }
    })
});

function copyToClipboard(e, btn, elementId) {
    e.preventDefault(); // prevent submit
    let str = document.getElementById(elementId);
    str.select();
    document.execCommand('copy');
    btn.innerHTML = "Copied!";
    return false; // prevent submit
}

function refreshTokenInHTML() {
    $.ajax({
        url: '/dashboard/api/auth/token/user/retrieve',
        type: 'get',
        cache: false,
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        headers: {
            'X-Racetrack-Auth': localStorage.getItem('auth_token') || '{{ user_auth }}'
        },
        success: function(data) {
            localStorage.setItem('auth_token', data);
            var tokenHTML = document.getElementById('user-auth');
            var tokenExampleHTML = document.getElementById('racetrack-cli-login');
            var newToken = localStorage.getItem('auth_token');
            tokenHTML.value = newToken;
            tokenExampleHTML.value = "racetrack login --remote {{ lifecycle_url }} " + newToken;
                    },
        error: function(xhr, status, error) {
            if (xhr.hasOwnProperty('responseJSON') && xhr.responseJSON.hasOwnProperty('error')) {
                message = xhr.responseJSON.error;
            } else {
                message = xhr.statusText;
            }
            showAlert('Error: Refreshing token in webpage failed. You should manually refresh the page' + ': ' + message, 'danger');
        }
    })
}
</script>
{% endblock javascript %}
