name: test
on:
  push

jobs:

  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Set up Go
        uses: actions/setup-go@v3

      - name: Install dependencies
        run: make setup-test-unit
      - run: . venv/bin/activate && make test-unit

  test-e2e-compose:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Install dependencies
        run: make setup-test-e2e
      - name: Build and Create Docker containers
        run: . venv/bin/activate && make compose-up
      - name: Run End-to-end tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: . venv/bin/activate && make compose-test-e2e

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2.2.0
        with:
          images: 'ghcr.io/theracetrack/racetrack/lifecycle,ghcr.io/theracetrack/racetrack/image-builder,ghcr.io/theracetrack/racetrack/dashboard,ghcr.io/theracetrack/racetrack/pub,postgres,127.0.0.1:5000/racetrack/job-entrypoint/adder'
          tail: '1000'
